{% extends "base.html" %}
{% block content %}
<div class="card">
  <h2>Вход</h2>
  <form method="post" action="{{ url_for('login') }}">
    <p><input name="username" placeholder="Логин" required></p>
    <p><input name="password" type="password" placeholder="Пароль" required></p>
    <p><button>Войти</button></p>
  </form>
</div>

<div class="card">
  <h2>Регистрация</h2>
  <form method="post" action="{{ url_for('register') }}">
    <p><input name="username" placeholder="Логин" required></p>
    <p><input name="email" type="email" placeholder="E-mail"></p>
    <p><input name="display_name" placeholder="Имя (отображается)"></p>
    <p><input name="password" type="password" placeholder="Пароль" required></p>
    <p><button>Создать аккаунт</button></p>
  </form>
</div>
{% endblock %}
