
{% extends "base.html" %}
{% block content %}
<div class="grid2">
  <form method="post" action="{{ url_for('login') }}" class="card">
    <h2>Вход</h2>
    <label>Логин <input name="username" required></label>
    <label>Пароль <input name="password" type="password" required></label>
    <button class="btn">Войти</button>
  </form>

  <form method="post" action="{{ url_for('register') }}" class="card">
    <h2>Регистрация</h2>
    <label>Логин <input name="username" required></label>
    <label>E‑mail <input name="email" type="email"></label>
    <label>Имя <input name="display_name"></label>
    <label>Пароль <input name="password" type="password" required></label>
    <button class="btn">Создать аккаунт</button>
  </form>
</div>
{% endblock %}
